<div *ngIf="seleccionoPokemon" class="container">
  <div class="row">
    <!-- Tarjetas de Pokémon -->
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let pokemon of pokemons">
      <div class="card h-100">
        <img [src]="pokemon.photoUrl" class="card-img-top img-pokemon" [alt]="'Imagen de ' + pokemon.name">
        <div class="card-body">
          <h5 class="card-title">{{ pokemon.name }}</h5>
          <p class="card-text">Tipos:</p>
          <div *ngFor="let type of pokemon.types">
            <p class="card-text">{{type.type.name}}</p>
          </div>
          
          <p class="card-text">Peso: {{ pokemon.weight }}</p>
          <p class="card-text">Habilidades:</p>
          <div *ngFor="let ability of pokemon.abilities">
            <p class="card-text">{{ability.ability.name}}</p>
          </div>
          
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" (click)="showDetails(pokemon)">Ver Detalles</button>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
      </li>
      <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage === page">
        <button class="page-link" (click)="changePage(page)">{{ page }}</button>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente</button>
      </li>
    </ul>
  </nav>
</div>
<!-- Detalles del Pokémon -->
<div *ngIf="selectedPokemon" class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">{{ selectedPokemon.name }}</h5>
    </div>
    <div class="card-body">
      <img [src]="selectedPokemon.photoUrl" class="img-fluid mb-3" [alt]="'Imagen de ' + selectedPokemon.name">
      <p class="card-text"><strong>Descripción:</strong> {{ selectedPokemon.description }}</p>
      <p class="card-text"><strong>Movimientos:</strong></p>
      <ul>
        <li *ngFor="let move of selectedPokemon.moves">{{ move.move.name }}</li>
      </ul>
    </div>
    <div class="card-footer">
      <button class="btn btn-secondary" (click)="closeDetails()">Cerrar</button>
    </div>
  </div>
</div>